
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

#original {
  width: 300px;
  height: 700px;
  background-image: url("http://fakeimg.pl/300x700/");
  -webkit-mask-image: url("A52017.svg");
  mask-image: url("A52017.svg");
  mask
}


#ajuste1{
width: 300px;
object-fit: contain;
background-color: red;
object-position: bottom;
height: 700px;
}

#ajuste2{
width: 300px;
background-color: red;
object-position: bottom;
height: 700px;
}

#ajuste3 {
    width: 300px;
    background-color: red;
    object-fit: cover;
    height: 700px;
    overflow: hidden;
    object-position: right;
}

#ajuste4 {
    width: 300px;
    background-color: red;
    object-fit: cover;
    height: 700px;
    overflow: hidden;
    object-position: left;
}

#ajuste5 {
    width: 300px;
    background-color: red;
    object-fit: cover;
    height: 700px;
    overflow: hidden;
    object-position: center;
}

#ajuste6 {
    width: 700px;
    background-color: red;
    object-fit: cover;
    height: 300px;
    overflow: hidden;
    object-position: center;
    transform: rotate(90deg) translateY(-305px);
    transform-origin: left top;
    position: absolute;
}

#ajuste7 {
    width: 700px;
    object-fit: contain;
    background-color: red;
    object-position: bottom;
    height: 300px;
    transform: rotate(90deg) translateY(-300px);
    transform-origin: left top;
}

#ajuste7 {
    width: 700px;
    object-fit: contain;
    background-color: red;
    object-position: bottom;
    height: 300px;
    transform: rotate(90deg) translateY(-300px);
    transform-origin: left top;
}
#ajuste8 {
    width: 700px;
    object-fit: contain;
    background-color: red;
    object-position: right;
    height: 300px;
    transform: rotate(90deg) translateY(-605px) translateX(-330px);
    transform-origin: left top;
}
#ajuste9 {
    width: 700px;
    object-fit: contain;
    background-color: red;
    object-position: left;
    height: 300px;
    transform: rotate(90deg) translateY(-910px) translateX(-660px);
    transform-origin: left top;
}



