
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

#original {
  width: 300px;
  height: 700px;
  background-image: url("http://fakeimg.pl/300x700/");
  -webkit-mask-image: url("A52017.svg");
  mask-image: url("A52017.svg");
}

.content-ajuste1{
    -webkit-mask-image: url("A52017.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    mask-image: url("A52017.svg");
    mask-repeat: no-repeat;
    mask-position: bottom;
    width: 300px;
    height: 700px;
    float: left;
    background-image: url("imagen1.jpeg");
    background-size: cover;
    }

#ajuste1{
    object-fit: contain;
    object-position: 50%;
    width: 300px;
    height: 700px;
}

#ajuste2{
    width: 300px;
    background-color: red;
    object-position: 10%;
    height: 700px;
    -webkit-mask-image: url("A52017.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    mask-image: url("A52017.svg");
    mask-repeat: no-repeat;
    mask-position: bottom;
}

#ajuste3 {
    width: 300px;
    background-color: red;
    object-fit: cover;
    height: 700px;
    overflow: hidden;
    object-position: 10%;
    -webkit-mask-image: url("A52017.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    mask-image: url("A52017.svg");
    mask-repeat: no-repeat;
    mask-position: bottom;
}


